/bin/
/obj/
/Properties/
/_1_Conso1e.csproj
*.csproj.user
*.mdf
*.ldf
/MyModel.tt
/Player.cs
/packages.config
/MyModel.Context.cs
/MyModel.Context.tt
/MyModel.Designer.cs
/MyModel.cs
/MyModel.edmx
/MyModel.edmx.diagram
